.download-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 85vh;
}

.down-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.down-image div{
  border: 1px solid #ffc078;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.image-download {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.true {
  background-color: #ffc078;
}

.false {
  background-color: white;
}

.show-image {
  width: 500px;
  height: 300px;
}

@media screen and (max-device-width: 480px) {
  .show-image {
    width: 50rem;
    height: 30rem;
  }
  .down-image {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .down-image div{
    border: 3px solid #ffc078;
    padding: 2rem;
    font-size: 3rem;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
  }
}