/* All Device */
.Header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3.5rem;
  background-color: #ffd8a8;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 0.714rem;
  list-style-type: none;
  color: #495057;
  font-weight: bold;
  cursor: pointer;
}

.user-page {
  font-size: 1rem;
  margin: 0;
  padding: 0.33rem;
}

.user-page:hover {
  background-color: #ffe8cc;
}

a {
  text-decoration: none;
  color: #495057;
  font-weight: bold;
}

.search-img {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.search-input {
  font-size: 1rem;
  height: 2rem;
  width: 50vw;
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px 7px 5px 7px;
  background-color: #ffe8cc;
  border: 1px solid #ffd8a8;
}

.search-input:focus {
  outline: none;
  background-color: white;
}

.username-page  {
   position: relative;
}

.userpage {
  position: absolute;
  overflow: visible;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
  width: 150px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1.2rem;
  right: 5px;
}

.mainlink {
  font-size: 1.5rem;
}

.searchimg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


/*==========  Mobile First Method  ==========*/
/* Large Devices, Wide Screens : ~ 1200px */
@media screen and (min-device-width : 1200px) {
}

/* Medium Devices, Desktops : ~ 992px */
@media screen and (max-device-width : 992px) {
}

/* Small Devices, Tablets : ~ 768px */
/* Custom, iPhone Retina : ~ 320px */
@media screen and (max-device-width : 480px) {
  .Header-wrapper {
    height: 15rem;
  }

  .mainlink {
    margin-left: 1.5rem;
    font-size: 2.5rem;
  }

  .search-input {
    font-size: 2.5rem;
    height: 2rem;
    width:50vw;
    padding: 3rem 2rem; 
  }

  .search-img {
    margin-left: 1rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  ul {
    display: block;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 2.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
  }

  .userpage {
    position: absolute;
    right: 0.5rem;
    overflow: visible;
    cursor: pointer;
    width: 20rem;
    margin-top: 1.2rem;
  }
  .user-page {
    font-size: 2.5rem;
    margin: 0;
    padding: 1rem;
  }

  
}
