.Header-wrapper {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 3.5rem;
  background-color: #ffd8a8;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 10px;
  list-style-type: none;
  color: #495057;
  font-weight: bold;
  cursor: pointer;
}

.user-page {
  font-size: 15px;
  margin: 0;
  padding: 5px;
}

.user-page:hover {
  background-color: #ffe8cc;
}

a {
  text-decoration: none;
  color: #495057;
  font-weight: bold;
}

.search-img {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.search-input {
  font-size: 1rem;
  height: 30px;
  width: 50vw;
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px 7px 5px 7px;
  background-color: #ffe8cc;
  border: 1px solid #ffd8a8;
}

.search-input:focus {
  outline: none;
  background-color: white;
}

.username-page  {
   position: relative;
}

.userpage {
  position: absolute;
  overflow: visible;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
  width: 200px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1.2rem;
}

.mainlink {
  font-size: 1.5rem;
}

.searchimg-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}
