.imagelist-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98vw;
  -webkit-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.img {
   padding: 0;
   margin-bottom: 10px;
   cursor: pointer;
   position: relative;
}

img {
    vertical-align: bottom;
    height: 40vh;
}

@media only screen and (min-device-width : 801px), (min-width : 801px) {
  img {
      width: 30vw;
  }

  .img:not(:nth-of-type(3n+1)) {
      margin-left: 10px;
  }
}


@media screen and (max-device-width: 800px), (max-width: 800px) {
  img {
      width: 45vw;
  }

  .img:nth-of-type(2n) {
    margin-left: 10px;
  }
}

@media screen and (max-device-width: 480px), (max-width: 480px) {
  img {
      width: 85vw;
      height: 30vh;
      margin-top: 2rem;
  }

  .img:nth-of-type(2n) {
    margin-left: 0px;
  }
}


