.userimage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98vw;
  -webkit-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.image {
   padding: 0;
   margin-bottom: 10px;
   cursor: pointer;
}

.userimage-user {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
}

@media only screen and (min-width : 801px) {
  .image {
      width: 22vw;
      margin-left: 10px;
  }
}

@media screen and (max-width: 800px) {
  .image {
      width: 45vw;
      margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .image {
      width: 90vw;
  }

  .image:nth-of-type(2n) {
    margin-left: 0px;
  }
}
